@model BuildPage.Models.CalendarModel

@{
    ViewData["Title"] = "Sczegóły rezerwacji";
}

<h1>Szczegóły rezerwacji</h1>

<div>
    <h4>Kalendarz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Calendar">Wróć do kalendarza</a>
</div>
