@{
    ViewData["Title"] = "Strona główna";
}

<div class="container-fluid" id="oFirmie" runat="server">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left">
            <!-- puste pole dlatego by poniższy tekst
                  znalazł się po prawej stronie. Czyli tak
                jakgdyby dzielilibyśmy ekran na 2 części -->
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right">
            <h1 class="section-title">O firmie</h1>
            <p class="paragraph">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et
                dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla p
                ariatur?"

            </p>
        </div>
    </div>
</div>

<div class="container-fluid2" id="oFirmie">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left-below">
            <h1 class="section-title2">Usługi</h1>
            <p class="paragraph2">
                Stawiając na doświadczenie jakie zdobyliśmy przez długoletnią pracę oraz szkolenia,
                spośród szerokiego zakresu prac budowlanych wybraliśmy taki zakres, w którym
                jesteśmy w stanie zaoferować najwyższą jakość i umiejętność ich wykonania. Oszczędzają
                państwo dzięki temu czas, nerwy oraz minimalizują koszty. Wszystkie prace wykonujemy
                zgodnie ze sztuką budowlaną oraz wg Polskiej Normy. Większość naszych prac można
                zobaczyć w zakładce Galeria.
            </p>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-6 uslugi1">
                    <img src="IKONY/brick-wall.png" class="icon1">
                    <h3 class="tytulUslugi1">Budowa</h3>
                    <p class="uslugiP1">
                        Oferujemy państwu wykonanie wszelkich prac związanych z budową przegród pionoywch oraz poziomych
                        w dowolnym systemie, czy to tradycyjnie murowane i tynkowane, czy sucha zabudowa tzw rygips oraz
                        konstrukcje drewniane.
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-6 uslugi2">
                    <img src="IKONY/renovation.png" class="icon2">
                    <h3 class="tytulUslugi2">Wykończenia</h3>
                    <p class="uslugiP2">
                        Prowadzimy kompleksowe wykończenia wnętrz. Szpachlowanie, malowanie, układanie płytek,
                        paneli i desek podłogowych oraz ściennych. Montaż betonu architektonicznego oraz sufitów napianych.
                    </p>
                </div>


            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right-below">
        </div>
    </div>
</div>

